header{
    margin-bottom: -250px;
}

body {
    background-color: #a1522a;
    background-image: url(AdSitaw1.jpg);
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 100%;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 400%;
    text-shadow: 1px 1px 3px black;
}

h2 {
    color: aliceblue;
    text-align: center;
}

h3 {
    color: aliceblue;
    font-family:serif;
    font-size: 200%;
    text-shadow:2px 2px 4px #000;

}

h4 {
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    text-shadow: 1px 1px black;
    margin-left: 24%;
}

p {
    color: aliceblue;
    font-family: monospace;
    font-size: 150%;
    margin-left: 17%;
    margin-right: 17%;
    text-shadow:2px 2px 4px #000;

}

ul {
    color: aliceblue;
    text-shadow: 1px 1px black;

}

ol {
    color: aliceblue;
    text-shadow: 1px 1px black;

}

.ingredients {
    margin-top: 15%;
    margin-left: 17%;
}

.steps {
    margin-left: 51.5%;
}

h5 {
    font-size: 170%;
    color: aliceblue;
    margin-bottom: -15px;
}

.sitaw {
    position: relative;
    bottom: 130px;
    left: 116px;
    width: 160px;
}

.horizontal-list {
    text-align: left;
    list-style: none;
    display: flex;
    padding: 60px 0;
    margin-left: 6.3%;
}

.brand-name {
    font-size: 300%;
    margin-left: 30px;
}

.must-try {
    font-size: 300%;
    margin-left: 485px;
}

.middle {
    margin-top: 10px;
    background-color: #874524;
}

.marginizer {
    margin-top: 200px;
}

.triple {
    display: flex;
    width: 100px;
    margin-left: 250px;
}

.shrink {
    width: 300px;
    height: auto;
    margin-right: 50px;
}